body {
    background-color: rgb(206, 245, 231);
}

hr {
    border-style: dotted dotted none none;
    border-width: 10px;
    width: 5%;
    border-color: rgb(123,123,123,0.5);
    }

h1 {
    color:rgb(95, 146, 162);
}

h3 {
    color:rgb(95, 146, 162);
}

img {
    width: 100px;
    border-radius: 50px;
}